.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  width: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear alternate-reverse;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > img {
  width: 40px;
  margin-right: 7px;
}

nav > span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(25deg);
  }
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(-25deg);
  }
}

main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
  height: 100vh;
  justify-content: flex-start;
}

Main_header{
  font-size: 2.4rem; 
}

.Main_ulist{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Main_ulist > li{
  margin: 5px;
  padding-block: 10px;
  line-height: 19px;
}

.Main_ulist > li::marker{
  color: #61DAFB;
  font-size: 1.2rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

.ingredient-heading {
  margin-bottom: 48px;
  text-align: start;
}

h2.ingredient-heading ul.ingredients-list {
  margin-bottom: 48px;
  text-align: start;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
  text-align: start;

}

.loader {
  border: 2px solid rgb(0, 0, 0);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.get-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 28px;
  flex-direction: row;
  gap: 34px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: start;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}